@media only screen and (min-width:800px){
    .dialbox__dials{
        width: 24%;
        /* margin: 2% 1% 0 0%; */
        margin: 2% 0 0 0;
    }
 

   
    /* .dialbox__dials:nth-child(odd){
    
    } */
}

@media only screen and (max-width:500px){
    /* .searchbox__heading{
        font-size: 3rem;
    }
    .nightmode-toggle{
        top: 2%;
        left: 6%;
        margin-top: 0.5rem;
    } */


    html{
        font-size: 7px;
    }

    .dialbox__dials{
        height: 120px;
    }
    .dialbox__heading{
       
      
        font-size: 1.4rem;
       
    }
    .ionicon{
        font-size: 3rem;
    }

    .searchbox__search{

        width: 95%;
        
    }
}


@media only screen and  (max-width:450px){
    html{
        font-size: 6px;
    }
    .dialbox__dials{
        height: 100px;
     
    }
}
@media only screen and  (max-width:380px){
    html{
        font-size: 5px;
    }
    .dialbox__dials{
        height: 100px;
    }
}






  
  